body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.heading,
.link1,
.link2,
.link3,
.link4,
.contents {
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
    border-radius: 25px;
}

.link1,
.link2,
.link3,
.link4 {
    padding: 0.4%;
}

main p {
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-left: 25px;
}

.heading,
.contents {
    margin-left: 35%;
    margin-right: 35%;
}